@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #2f98c969 0%, #218bc94b 100%);
    --color-primary: #141414;
    --color-secondary: #1e3e46;
    --boton-padding: 20px 40px;
} /*cette variable a plus de specificité*/

body{
    font-family: 'Raleway', sans-serif;
    background: white;
    margin: 0;
}

h2{font-size: 1.5em}
h3{font-size: 1.2em}
p{font: size 1em;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color:white;
}

header .logo{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 20px;
}

header .container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    padding-bottom: 30px;
}

header a{
    text-decoration: none;
    padding-right: 15px;
    padding-bottom: 25px;
    color: #773737;
    font-weight: bold;  
    font-size: 1.2em;
}

header a:hover{
    color: #FDD459    
}


.title{
    color: var(--color-primary);  
    font-size: 1.5rem;
    margin-bottom: 50px;
    padding-bottom: 15px;
}


/*navigation*/

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 1000;
    justify-content: flex-start;
}

.nav_items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav_items--cta{
    border: 1px solid #fff;
}

.nav__items--footer{
    padding: 10px ;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('assets_accueil/rafting_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}
.hero_container{
    display: flex;
    height: calc(100vh - 70px);
    align-items:center;
    color: white;
}

.hero_wave{
    position:absolute;
    bottom: 0; /*comme ca la wave se positionne dans la partie bottom*/
    left: 0;
    width: 100%;
    height: 100px;
}

/*barre de recherche*/

.barre {
    display: flex;
    justify-content:center;
}

.recherche_barre{
    
    align-items: center;
}

.barre button{
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: white;
    background-color: #743b3b; 
    
    height: 30px;
}

input {
    min-height: 1.5em;
    width: 230px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

/*section blog*/

.blog button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #754545; 
}

button:hover{
    background-color: #49180f;
}

.blog{
    background: white;
    margin-bottom: 0%;
    margin-top: 20px;
    text-align: center;
    
}

.blog .container{
    margin-bottom: 60px;
    margin-top: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}

.blog__grid{
    display: grid;
    height: 400px;
    grid-template-areas: 
    "img1 img2 img3";
    gap: 13px;
}

.blog__item{
    position: relative;
    width: 95%;
    height: 90%;
    overflow: hidden;
}

.blog__img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer; /*quand je pose la souris sur l'image un main apparait*/
}

.blog__hover{
    position: absolute;
    background: rgba(30, 29, 31, 0.541);
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%)
}

.blog__item:hover .blog__hover{
    transform: translateX(0%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}


/*VIDEO*/

.video_exp{
    align-items: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-top: 30px;
    margin-bottom: 120px;
    background: linear-gradient(to left, #16707c  5%, #269482, #3ae0ae  100%);
}

.video_exp .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .texte_video{
    padding: 10px 30px;
}


/*footer*/

.footer{
    background-color: #773737;
}

.footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-bottom: 30px;
}

.footer_copyright{
    display:inline-block;
    align-self: center;
    text-align: center;
    color: #fff;
    align-self: flex-end;

}


.footer_title{
    font-weight: 1000;
    color: #dbd9d9;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.footer_icons{
    display:flex;
    justify-content: center; /*distribution equitative*/
    color:#ffffff;
    margin-bottom: 5px;
}

.footer_container--icons{
    display: inline-block;
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 7px;

}

.footer_icons{
    color: #fff;
    font-size:30px;
    text-decoration: none;
}

.fa-brands.footer_icons{
    line-height: 60px; /*para centrar el ícono en el círculo siendo específico con la orden(1ra parte nombre del icono)*/
}




/*mediaQ*/

@media  screen and (max-width:800px) {
    .blog .container{
        padding: 20px;
    }

    .blog__grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;


        gap: 13px;
    }
    

    
    
}

@media screen and (max-width:650px) {
    header {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        text-align: center;
    }
    

main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    text-align: center;
}
    
    .footer {
        width: 100%;
        overflow: hidden;
        position: absolute;
        
    }
    .footer_grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        align-items: center;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .nav--footer{
        font-weight: 1000;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer_copyright{
        display:inline-block;
        align-self: center;
        text-align: center;
        color: #fff;
    }
    
}

@media  screen and (max-width:580px) {
    iframe {
        width: 90%;
        min-width: 300px ;
    }
}